[Service]
WorkingDirectory=/home/pi/dev/jira-grafana-team-metrics-datasource
ExecStart=/usr/local/bin/npm start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jira-metrics
User=root
Group=root
[Install]
WantedBy=multi-user.target